/*! formalize.css */

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

label {
  cursor: pointer;
}

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  z-index: 1;
  outline: 0;
  box-shadow: #06f 0 0 5px 0;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none;
}

button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  overflow: visible;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 3px 10px;
  width: auto;
  height: 1.8em;
  border: 1px solid;
  border-color: #ddd #bbb #999;
  border-radius: 0;
  background: #f0f0f0;
  background-clip: padding-box;
  vertical-align: top;
  text-decoration: none;
  text-shadow: none;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
}

a.button {
  margin: 0;
  color: inherit;
  cursor: pointer;
}

button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #e3e3e3;
  text-decoration: none;
}

button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  border-color: #999 #bbb #ddd;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
}

a.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 2px 3px;
  height: 1.8em;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  border-radius: 0;
  background-color: #fff;
  background-clip: padding-box;
  vertical-align: top;
  text-align: left;
  font: inherit;
  line-height: normal;
  -webkit-appearance: none;
     -moz-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 2.91px;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  box-shadow: none;
  color: #888;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button[disabled]:hover,
a.button_disabled:hover,
input[type="reset"][disabled]:hover,
input[type="submit"][disabled]:hover,
input[type="button"][disabled]:hover {
  background: #f0f0f0;
}

button[disabled]:active,
a.button_disabled:active,
input[type="reset"][disabled]:active,
input[type="submit"][disabled]:active,
input[type="button"][disabled]:active {
  border-color: #ddd #bbb #999;
  box-shadow: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 1.8em;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    padding-right: 3px;
    background-image: none;
  }

  select,
  select[size="0"],
  select[size="1"] {
    padding-right: 20px;
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-position: right center;
    background-repeat: no-repeat;
  }
}

textarea {
  min-height: 40px;
  width: 100%;
  resize: vertical;
}

optgroup {
  font: inherit;
  font-weight: bold;
}

optgroup::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.placeholder_text {
  color: #888;
}
